
* { 
  font-family: system-ui;
  margin: 0;
padding: 0;
}

/* This is the CSS reset START */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: system-ui;
font-size: 14px;

}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* This is the CSS reset END */ 

main {
height: 100vh;
position: relative;
overflow-y: hidden;
overflow-x: hidden;
max-width: 100%;
}



.homepage {
color:#3b3b3b;
position: absolute;
}

table {
padding-top: 32px;
display: block;
position: relative;
margin: 0 auto;
 color: #fff;
 text-align: justify
}
th {
text-align: left;
}

#xmas {
color: #fff;
}